# Auto detect text files and perform LF normalization
* text=auto

#custom setting to allow VBA to be text with CRLF
*.cls text eol=crlf
*.frm text eol=crlf
*.bas text eol=crlf

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
